.animated-background {
    background-size: 300%;
    -webkit-animation: animation 20s ease infinite;
    -moz-animation: animation 20s ease infinite;
    animation: animation 20s ease infinite;
}

@keyframes animation {
    0%,
    100% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
