@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: inter; */
  scroll-behavior: smooth; 
} 
@font-face {
  font-family: 'inter';
  src: url('./fonts/Inter28pt-Regular.woff2') format('woff2'),
  url('./fonts/Inter28pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'interBold';
  src: url('./fonts/Inter28pt-Bold.woff2') format('woff2'),
  url('./fonts/Inter28pt-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'interExtraBold';
  src: url('./fonts/Inter28pt-ExtraBold.woff2') format('woff2'),
  url('./fonts/Inter28pt-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'interMedium';
  src: url('./fonts/Inter28pt-Medium.woff2') format('woff2'),
  url('./fonts/Inter28pt-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* swiper dots colors */
:root {
  --swiper-pagination-color: #00AAA7;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background-color: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #165A58;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #208481;
}

body {
  overflow-x: hidden; 
  /* reviewsilder fix */
}
